<%= display_movie_path(@movie_path) %>
<div class="container flex">
    <%= button_to("Find New Connection", new_ai_movie_route_path, method: "get", class: "small-submit-button new-connection w-button") %>
</div>