<div class="list">
  <p><%= link_to "Create A New Path", new_path_path %></p>

  <% @paths.each.with_index(1) do |p, i| %>
    <p><%= "#{i}. " %><%= link_to p.name, path_path(p) %></p>
  <% end %>
</div>
