<div class="list">
  <% @paths.each.with_index(1) do |p, i| %>
    <p><%= "#{i}. " %><%= link_to p.name, path_path(p) %></p>
  <% end %>
  <p><%= link_to "Create New Playlist", new_path_path %></p>
</div>
