body {
    /* Red background */
    background-color: #e50914;

    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;

    /* Defines dimensions of content */
    width: 70%;
    height: 70%;
}

/* Refers to division created around content */
#content {
    /* Creates a border around content */
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;

    /* White background */
    background-color: white;
}

#navbar {
  text-align: center;
}

#navbar a {
  color: black;
  font-family: impact;
  font-size: 20px;
  padding: 20px;
}

#alert {
  color: black;
  font-family: impact;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

#main_title {
  text-align: center;
  font-family: impact;
  color: White;
  font-size: 50px;
}

a {
  color: maroon;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

.list-title {
  color: black;
  font-family: sans-serif;
  font-size: 20px;
}

.list {
  margin-top: 50px;
  text-align: center;

  color: maroon;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

.title {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.image {
  text-align: center;
}

div {
  text-align: center;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
}

.main-paragraph {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}

#tagline {
  text-align: center;
  font-style: italic;
  font-size: 25px;
  margin-left: 10%;
  margin-right: 10%;
}
