<div id="playlist_index">
  <h3>Playlists</h3>
  <div class="list">
    <% if !@playlists.empty? %>
      <% @playlists.each do |p| %>
        <p><%= link_to(p.name, playlist_path(p)) %></p>
      <% end %>
    <% end %>
  </div>
  <p><%= link_to("Add Playlist", new_playlist_path) %></p>
</div>