<div class="section">
  <div class="vertically-centered w-container">
    <h1 class="white-heading">User Playlists</h1>

    <% if !@playlists.empty? %>
      <% @playlists.each do |p| %>
        <%= link_to(p.name, playlist_path(p), class: "grey-link") %>
      <% end %>
    <% end %>
    
    <%= link_to("Create Playlist", new_playlist_path, class: "red-link") %>
  </div>
</div>