<div class="small-form">
    <h1 class="white-heading">Create A Playlist</h1>
    <div class="form w-form">
        <%= form_with model: @playlist, class: "form" do |f| %>
            <%= f.text_field :name, class: "curved-text-field w-input" %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.submit "Create", class: "small-submit-button w-button" %>
        <% end %>
    </div>
</div>