<div class="title">
  <h3><%= @playlist.name %></h3>
</div>

<div class="list">
  <% if @playlist.movies.empty? %>
    <p>No Movies Have Been Added</p>
  <% else %>
      <h4 class="list-title">Movies To Watch</h4>
      <% @playlist.movies.each do |m| %>
        <p><%= link_to m.title, movie_path(m), target: :_blank %></p>
      <% end %>
  <% end %>

  <p><%= link_to "Search Movies to Add", search_movies_path %></p>
  <p><%= button_to "Delete Playlist", playlist_path(@playlist), method: :delete %></p>
</div>